.btn1 {
    display: inline-block;
    float: left;
    position: relative;
    padding: 15px 40px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
    background-color: #9C27B0; ;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0px 1px 3px 0px #0005;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 5px;
    text-transform: uppercase; 
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    animation-name: shutter-out;
    animation-duration: 1s;
}
 .btn1:hover {
   background-color: white;
   color: black;
}

@keyframes shutter-out {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

.btn2 {
    display: inline-block;
    float: left;
    position: relative; 
    padding: 15px 40px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
    background-color: #9C27B0; ;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0px 1px 3px 0px #0005;
    margin-top: 30px;
    margin-left: 40px;
    text-transform: uppercase; 
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    animation-name: shutter-out;
    animation-duration: 1s;
}
 .btn2:hover {
   background-color: white;
   color: black;
}

@keyframes shutter-out {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

.btn3 {
  display: inline-block;
  float: left;
  position: relative;
  padding: 15px 40px;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1px;
  background-color: #9C27B0; ;
  color: #fff;
  border-radius: 40px;
  box-shadow: 0px 1px 3px 0px #0005;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 5px;
  text-transform: uppercase; 
  text-align: center;
  text-decoration: none; 
  cursor: pointer;
  animation-name: shutter-out;
  animation-duration: 1s;
}
.btn3:hover {
 background-color: white;
 color: black;
}

@keyframes shutter-out {
0%   {opacity: 1;}
100% {opacity: 0;}
}

    /* transition: all 0.5s;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    overflow: hidden;
}

.btn2:after {
  content: "";
  background: #fff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -60px;
  margin-top: -120%;
  opacity: 0;
  transition: all 1s
}

.btn2:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
} */
