/* Little tips about "how to good rename this class :
   use a clear identifier for all global item (like btn here),
   if you need a modifier, juste use btn--first (double -- to indic that's global button but with a little (or big) difference). */

/* Second tips : doesn't hesitate to see how work sass and scss */

.btn {
    display: inline-block;
    position: relative; 
    padding: 15px 40px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
    background-color: #9C27B0;
    color: #fff;
    border-radius: 40px;
    border: 0;
    box-shadow: 0px 1px 3px 0px #0005;
    margin-top: 30px;
    text-transform: uppercase; 
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 0.5s;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    overflow: hidden;
}

/* use '+' to select button following directly another button */
.btn + .btn { margin-right: 10px }

/* Modifier */
.btn--first {
  margin-right: 10px;
  animation-name: shutter-out;
  animation-duration: 1s;
}

.btn--first:hover {
  /* It's better to use hex code or rgb(a) for color */
  background-color: #fff;
  color: #000;
}

@keyframes shutter-out {
  from   {opacity: 1;}
  to {opacity: 0;}
}

.btn--second::after {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -60px;
  margin-top: -120%;
  opacity: 0;
  transition: all 1s
}

.btn--second:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
