.my-portfolio-gallery {
    display: inline-block;
    width: 100%;
}

.gallery-filter {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: gray;
    font-size: 15px;
}
.gallery-filter > .filter-item {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.item-list {
    display: inline-block;
    width: 100%;

}
.item-list > .item {
    display: inline-block;
    float: left;
    width: calc(100% / 3 - 20px);
    font-family: 'Roboto', sans-serif;
}
.item-list img {
    display: inline-block;
    float: left;
    width: 360px;
    height: 200px;
    margin: 10px;
}
.hidden {
    display: none !important;
}

.aaaaa{
    display: none;
}

.item-list .lastPicture {
    width: 740px;
    height: 200px;
}