.my-portfolio-gallery {
    display: inline-block;
    width: 100%;
}

.gallery-filter {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}
.gallery-filter > .filter-item {
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.item-list {
    display: inline-block;
    width: 100%;

}
.item-list > .item{
    display: inline-block;

}
