/* .about-me-content > .title::before{ 
    content: "";
    position: absolute;
    display: inline-block;
    width: 48px;
    left: 0;
    bottom: -50px;
    border-bottom: 3px solid #9C27B0;

}
.about-me-content > .title::after{ 
    content: "";
    position: absolute;
    display: inline-block;
    width: 95px;
    left: 47px;
    bottom: -50px;
    border-bottom: 3px solid lightgray;
   
} */


