/* Progress bar pradzia */
.progress-bar {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
    .progress-bar > .texts {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
    .progress-bar > .texts > .title {
        display: inline-block;
        float: left;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
    }

    /* Progress bar liniju dalis */
    .progress-bar > .bar {
        display: inline-block;
        width: 100%;
        height: 6px;
        background-color: #fff;
        border-radius: 10px;
    }
    .progress-bar > .bar > .value {
        display: inline-block;
        width: 90%;
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
    }
    .tips{
        display: inline-block;
        position: absolute;
        margin-top: -11px;
        right: -5px;
        background-color: #F4F5F8;
        padding: 4px;
        border-radius: 10px;
    }
    .loading{
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #9C27B0;
        border-radius: 10px;
        position: relative;

            animation-name: loading;
            animation-iteration-count: 1;
            animation-duration: 2s;
        }

        /* PROGRESS-BAR AMINATION */
        @keyframes loading {
            0% {
                width: 0;
            }
            100% {
                width: 100%;
            }
        }